@page "/Clientes"
@inject NavigationManager Navigation;

<div class="conteudoPrincipal">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary botaoCadastrar">Cadastrar Cliente</button>
    </div>
    <div class="tabelaClientes">
        <table>
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Idade
                    </th>
                    <th>
                        Profissão
                    </th>
                    <th>
                        Cidade
                    </th>
                    <th>
                        Saldo
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        Vinícius
                    </td>
                    <td>
                        23
                    </td>
                    <td>
                        Desenvolvedor
                    </td>
                    <td>
                        Contagem
                    </td>
                    <td>
                        5000
                    </td>
                    <td>
                        <NavLink class="nav-link" href="Cliente">
                            <button type="button" class="btn btn-primary botaoVisualizar">Visualizar</button>
                        </NavLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        Valéria
                    </td>
                    <td>
                        52
                    </td>
                    <td>
                        Secreária
                    </td>
                    <td>
                        Contagem
                    </td>
                    <td>
                        3000
                    </td>
                    <td>
                        <NavLink class="nav-link" href="Cliente">
                            <button type="button" class="btn btn-primary botaoVisualizar">Visualizar</button>
                        </NavLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        Flávio
                    </td>
                    <td>
                        53
                    </td>
                    <td>
                        Vereador
                    </td>
                    <td>
                        Contagem
                    </td>
                    <td>
                        1000
                    </td>
                    <td>
                        <NavLink class="nav-link" href="CLiente">
                            <button type="button" class="btn btn-primary botaoVisualizar">Visualizar</button>
                        </NavLink>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


@code {
    
}
