<table class="col-lg-12">
    <thead>
        <tr>
            <td><b>Descrição</b></td>
            <td><b>Categoria</b></td>
            <td><b>Data</b></td>
            <td><b>Valor</b></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Conta de Luz</td>
            <td>Habitação</td>
            <td>19/11/2024</td>
            <td>R$ 200,00</td>
        </tr>
        <tr>
            <td>Internet</td>
            <td>Habitação</td>
            <td>19/11/2024</td>
            <td>R$ 150,00</td>
        </tr>
        <tr>
            <td>Cerveja</td>
            <td>Lazer</td>
            <td>19/11/2024</td>
            <td>R$ 60,00</td>
        </tr>
    </tbody>
</table>