<div class="col-lg-3">
    <input class="form-control" type="text" placeholder="Descrição" />
</div>
<div class="col-lg-3">
    <input class="form-control" type="text" placeholder="Categoria" />
</div>
<div class="col-lg-3">
    <input class="form-control" type="text" placeholder="Data" />
</div>
<div class="col-lg-3">
    <input class="form-control" type="text" placeholder="Valor" />
</div>
<div class="col-lg-12">
    <button class="btn btnAdicionar">Adicionar</button>
</div>
