@page "/Despesas"
@using Finances.Web.Services;
@using Finances.Models.DTOs;
@inject IDespesaService despesaService;

<PageTitle>Despesas</PageTitle>

<div class="container conteudo">
    <h3>Lançar Despesas</h3>
    <div class="row">
        <ComponenteFormularioLancamento />
        <table class="col-lg-12">
            <thead>
                <tr>
                    <td><b>Descrição</b></td>
                    <td><b>Categoria</b></td>
                    <td><b>Data</b></td>
                    <td><b>Valor</b></td>
                    <td><b>Ações</b></td>
                </tr>
            </thead>
            <tbody>
                @if (despesas == null)
                {
                    <tr>
                        Carregando...
                    </tr>
                }
                else
                {
                    foreach (var despesa in despesas)
                    {
                        <tr>
                            <td>@despesa.Descricao.ToString()</td>
                            <td>@despesa.CategoriaId.ToString()</td>
                            <td>@despesa.Data.ToString()</td>
                            <td>R$ @despesa.Valor.ToString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    public IEnumerable<DespesasDTO>? despesas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        despesas = await despesaService.GetDespesas(1);
    }
}