@page "/Despesas"

<PageTitle>Despesas</PageTitle>

<div class="container conteudo">
    <h3>Lançar Despesas</h3>
    <div class="row">
        <ComponenteFormularioLancamento />
        <ComponenteListaLancamentos />
    </div>
</div>

@code {

}
