@page "/Receitas"
@using Finances.Web.Services;
@using Finances.Models.DTOs;
@inject IReceitaService receitaService;

<PageTitle>Receitas</PageTitle>

<div class="container conteudo">
    <h3>Lançar Receitas</h3>
    <div class="row">
        <ComponenteFormularioLancamento />
        <table class="col-lg-12">
            <thead>
                <tr>
                    <td><b>Descrição</b></td>
                    <td><b>Categoria</b></td>
                    <td><b>Data</b></td>
                    <td><b>Valor</b></td>
                    <td><b>Ações</b></td>
                </tr>
            </thead>
            <tbody>
                @if (receitas == null)
                {
                    <tr>
                        Carregando...
                    </tr>
                }
                else
                {
                    foreach (var receita in receitas)
                    {
                        <tr>
                            <td>@receita.Descricao.ToString()</td>
                            <td>@receita.CategoriaId.ToString()</td>
                            <td>@receita.Data.ToString()</td>
                            <td>R$ @receita.Valor.ToString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public IEnumerable<ReceitasDTO>? receitas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        receitas = await receitaService.GetReceitas(1);
    }
}
