@page "/Receitas"

<PageTitle>Receitas</PageTitle>

<div class="container conteudo">
    <h3>Lançar Receitas</h3>
    <div class="row">
        <ComponenteFormularioLancamento />
        <ComponenteListaLancamentos />
    </div>
</div>

@code {

}
