.conteudoPrincipal[b-0oamxfwzjt]{
    margin:25px;
}

.botaoAdd[b-0oamxfwzjt]{
    width:100%;
}

.tabelaClientes[b-0oamxfwzjt]{
    margin-top:25px;
}

table[b-0oamxfwzjt] {
    width:100%;
    text-align:center;
}

tr[b-0oamxfwzjt]{
    border-bottom:1px solid lightgray;
}
