@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 dadosCliente">
            <div class="col-lg-3">
                Cliente:<br>Vinícius de Andrade
            </div>
            <div class="col-lg-3">
                Receita Total:<br>R$ 8.000,00
            </div>
            <div class="col-lg-3">
                Despesa Total:<br>R$ 5.000,00
            </div>
            <div class="col-lg-3">
                Saldo:<br>R$ 3.000,00
            </div>
        </div>

        @Body
        

        <!--
        <article class="content px-4">
            <h3>Lançamentos</h3>
            <div class="row">
                <div class="col-lg-3 componentesFormulario">
                    <input type="text" class="form-control" id="" placeholder="Descrição">
                </div>
                <div class="col-lg-3 componentesFormulario">
                    <input type="date" class="form-control" id="" placeholder="Data">
                </div>
                <div class="col-lg-3 componentesFormulario">
                    <select class="form-select" aria-label="Default select example">
                        <option selected class="phSelect">Categoria</option>
                        <option value="1">Categoria1</option>
                        <option value="2">Categoria2</option>
                        <option value="3">Categoria3</option>
                    </select>
                </div>
                <div class="col-lg-3 componentesFormulario">
                    <input type="text" class="form-control" id="" placeholder="Valor">
                </div>
                <div class="col-lg-6 componentesFormulario">
                    <select class="form-select" aria-label="Default select example">
                        <option selected class="phSelect">Tipo</option>
                        <option value="1">Receita</option>
                        <option value="2">Despesa</option>
                    </select>
                </div>
                <div class="col-lg-6 componentesFormulario">
                    <select class="form-select" aria-label="Default select example">
                        <option selected class="phSelect">Despesa Fixa?</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>
                <div class="col-lg-12 componentesFormulario">
                    <button type="button" class="btn btn-primary botaoAdd">Adicionar</button>
                </div>
            </div>

        </article>
        -->
    </main>
</div>

@code{
    
}
